//**
//  Susy: Un-obtrusive grids for designers
//  By: Eric A. Meyer and OddBird
//  Site: susy.oddbird.net
//**

// Font Sizes --------------------------------------------------------------

$base-font-size: 18px;
$base-line-height: 30px;

// Grid --------------------------------------------------------------

$total-cols: 8;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

// Don't move this @import above the GRID and FONT-SIZE variables.
@import "susy";

// Colors --------------------------------------------------------------

$base: #333;
$alt: #005498;
$dark: #253244;
$highlight: #72a670;
$background: #fffcf4;
$border: #999;

// Fonts --------------------------------------------------------------

@mixin sans-family {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: "Hoefler Text", Cambria, Georgia, serif;
}

@mixin monospace-family {
  font-family: Bitstream Vera Sans Mono,monospace
}

// Text Shadow --------------------------------------------------------------
$default-text-shadow-color: #ded8c7;


// OTHER MIXINS --------------------------------------------------------------
// Mixins set here will be available in defaults, screen, print and IE
// Or anywhere you import either base.sass or defaults.sass
