// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";

@import "susy"; // grid

// Grid --------------------------------------------------------------

$total-columns: 8;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$side-gutter-width : $gutter-width;  // grid-padding equal to gutters

// Colors --------------------------------------------------------------

$base: #333;
$alt: #005498;
$dark: #253244;
$highlight: #72a670;
$background: #fffcf4;
$border: #999;

// Fonts --------------------------------------------------------------

@mixin sans-family {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: "Hoefler Text", Cambria, Georgia, serif;
}

@mixin monospace-family {
  font-family: Bitstream Vera Sans Mono,monospace
}

$base-font-size: 18px;
$base-line-height: 27px;

// Text Shadow --------------------------------------------------------------
$default-text-shadow-color: #ded8c7;