$M: 47em;

body {
  @include padding-trailer(2);
}

h1 {
  //@include trailer(1, $h1);
}

h2 {
  @include leader(1.5, $h2);
  @include trailer(.5, $h2);
}

h3, h4 {
  @include leader(1.5, $h3);
  @include trailer(.5, $h3);
}

p {
  @include trailer;
}

header.top {
  @include padding-leader(.5);
  @include padding-trailer(.5);
  position: relative;
  z-index: 1;
  .display {
    @include container;
    padding: 0 2em;
  }
}

#contact {
  @include clearfix;
  @include leader;
  @include trailer;
}

#contact li {
  float: left;
  margin-right: 1em;
}

.tagline {
  @include trailer(1);
  font-style: italic;
}

.date {
  @include adjust-font-size-to(16px);
  @include trailer(1, 16px);
}

form {
  margin: 1.5em -1em 3em;
  padding: 1.5em 1em;
  //@include leader;
  clear: both;
}

.issue-info {
  @include padding-leader(1);
  @include padding-trailer(1);
  @include trailer(1);
}

#document {
  @include container;
  padding: 0 2em;
}

#main {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  @include breakpoint($M) {
    @include span(8);
  }

  li {
    margin-left: 1.2em;
  }

  ul, ol {
    @include trailer;
    ul, ol {
      margin-bottom: 0;
    }
  }
}

#nav {
  @include breakpoint($M) {
    @include span(3 at 10 of 12);
  }
  li {
    // @include trailer;
  }
}

.code {
  @include padding-leader(.25);
  @include padding-trailer(.25);
  @include trailer;
}

.chapter-nav>ol {
  @include trailer;
}

ol ol {
  margin-left: 1em;
}

#disqus_thread {
  @include leader;
}

blockquote {
  padding-left: 1em;
  @include padding-leader(0.5);
  @include padding-trailer(0.5);
  @include trailer;

  p {
    margin: 0;
    white-space: pre-line;
  }
}

table {
  @include trailer;
}

.previous-issues {
  @include leader;
}