body, input[type=email] {
  @include serif-family;
}

h1, h2, h3, h4 {
  @include sans-family;
}

h1 {
  @include adjust-font-size-to($h1, 2);
}

h2 {
  @include adjust-font-size-to($h2, 1);
  font-weight: bold;
}

h3, h4 {
  @include adjust-font-size-to($h3, 1);
}

a {
  color: $alt-color;
  &:visited {
    color: $alt-color;
  }
  &:hover {
    color: $tri-color;
  }
}

em {
  font-style: italic;
}

small {
  font-size: 75%;
}

form {
  border-radius: 2px;
  background: $main-color-light;
}

input {
  font-size: 16px;
}

input[type=email] {
  padding: .25em .125em;
}

input[type=submit] {
  background: $main-color;
  border-radius: 2px;
  border: none;
  padding: .4em;
  display: inline-block;
}

.issue-info {
  background: $main-color;
}

.issue-title {
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-weight: 300;
  @include adjust-font-size-to(42px);
  strong {
    border-bottom: 2px solid white;
    font-variant: smallcaps;
  }
}

.title {
  @include adjust-font-size-to(60px, 2);
  @include title-family;
  border-bottom: 2px solid $main-color;
  display: inline-block;
}

.main {
  ul li {
    list-style: disc;
  }

  ol>li {
    list-style: decimal;
  }
}

table {
  border-top: 1px solid #eee;
  thead {
    display: none;
  }
  td {
    border-bottom: 1px solid #eee;
  }
  td:first-child {
    @include monospace-family;
    white-space: pre;
    padding: 0 1em;
    border-right: 1px solid #eee;
  }
  td:last-child {
    padding: 0 1em;
  }
}

.previous-issues {
  border-top: 2px solid $main-color;
}