body, input[type=email] {
  font-family: $serif-family;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: $h-family;
}

h1 {
  @include adjust-font-size-to($h1, 1);
}

h2 {
  @include adjust-font-size-to($h2, 1);
}

h3, h4 {
  @include adjust-font-size-to($h3, 1);
}

a {
  color: $alt-color;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $tri-color;
  }
}

em {
  font-style: italic;
}

small {
  font-size: 75%;
}

form {
  border-radius: 2px;
  background: $main-color-light;
}

input {
  font-size: 16px;
}

input[type=email] {
  padding: .25em .125em;
}

input[type=submit] {
  background: $main-color;
  border-radius: 2px;
  border: none;
  padding: .4em;
  display: inline-block;
}

header.top {
  background: #f7f3ee url(/assets/images/flying-machine-small.png) no-repeat 85%;
  border-top: 4px solid #444;
  border-bottom: 1px solid #444;
  .title {
    font-family: $title;
    @include adjust-font-size-to(52px);
    a {
      color: black;
    }
  }
  .subtitle {
    color: #193019;
    font-family: $stitle;
    font-style: italic;
  }
}

.date {
  font-style: italic;
}

.main {
  ul li {
    list-style: disc;
  }

  ol>li {
    list-style: decimal;
  }
}

#nav li {
  color: #ddd;
  list-style: disc;
  p {
    color: black;
  }
}

table {
  border-top: 1px solid #eee;
  thead {
    display: none;
  }
  td {
    border-bottom: 1px solid #eee;
  }
  td:first-child {
    @include monospace-family;
    white-space: pre;
    padding: 0 1em;
    border-right: 1px solid #eee;
  }
  td:last-child {
    padding: 0 1em;
  }
}

code {
  line-height: 1.2;
  font-size: 16px;
  white-space: pre;
  @include monospace-family;
}

pre {
  @include trailer;
}

pre code {
  display: block;
  @include padding-leader(.5, 16px);
  @include padding-trailer(.5, 16px);
}