body, input[type=email] {
  font-family: $serif-family;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: $h-family;
}

h1 {
  @include adjust-font-size-to($h1, 1);
}

h2 {
  @include adjust-font-size-to($h2, 1);
}

h3, h4 {
  @include adjust-font-size-to($h3, 1);
}

#main {
  h2, h3, h4 {
    margin-left: -11px;
    padding-left: 9px;
    border-left: 2px dotted #ddd;
  }
}

a {
  color: $alt-color;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $tri-color;
  }
}

em {
  font-style: italic;
}

small {
  font-size: 75%;
}

form {
  border-radius: 2px;
  background: $main-color-light;
}

input {
  font-size: 16px;
}

input[type=email] {
  padding: .25em .125em;
}

input[type=submit] {
  background: $main-color;
  border-radius: 2px;
  border: none;
  padding: .4em;
  display: inline-block;
}

header.top {
  background: #f7f3ee url(/assets/images/flying-machine-small.png) no-repeat 85%;
  border-top: 4px solid #444;
  border-bottom: 1px solid #444;
  .title {
    font-family: $title;
    @include adjust-font-size-to(52px);
    a {
      color: black;
    }
  }
  .subtitle {
    color: #193019;
    font-family: $stitle;
    font-style: italic;
  }
}

.date {
  font-style: italic;
}

.main {
  ul li {
    list-style: disc;
  }

  ol>li {
    list-style: decimal;
  }
}

#nav {
  @include adjust-font-size-to(17px);
  h2 {
    @include adjust-font-size-to(26px, 1, 17px);
    @include leader(1.5, 26px);
    @include trailer(.5, 26px);
    color: #555;
  }
  li {
    color: #ccc;
    list-style: disc;
    a {
      display: block;
    }
    p {
      color: #333;
    }
  }
}

table {
  @include trailer;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

table, td, th {
  vertical-align: top;
}

th, thead th {
  font-weight: bold;
}

th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

table.comparison {
  th {
    @include trailing-border(1px, 0.5);
  }
  td {
    border-bottom: 1px dotted black;
  }
  tr:last-child td {
    border-bottom: none;
  }
}

.highlight {
  @include trailer;
}

.highlight pre {
  display: block;
  line-height: 1.2;
  font-size: 16px;
  white-space: pre;
  @include monospace-family;
  @include padding-leader(.5, 16px);
  @include padding-trailer(.5, 16px);
}