@import "main";
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$side-gutter-width : $gutter-width;  // grid-padding equal to gutters

// Colors --------------------------------------------------------------

$base: #333;
$alt: #005498;
$dark: #253244;
$highlight: #000;
$background: #fffcf4;
$border: #999;

// Fonts --------------------------------------------------------------

@mixin sans-family {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin header-family {
  font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000;
}

@mixin serif-family {
  font-family: "Hoefler Text", Cambria, Georgia, serif;
}

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
body {
}


#document {
  @include container;
  @include border-radius(0 0 20px);
  margin-bottom:(2 * $base-line-height);
}

#content {
  @include span-columns(9);
  padding-top: $base-line-height;
}

#header {
  @include clearfix;
  background:$highlight;
  padding:(0.5 * $base-line-height) $gutter-width;
  color:white;
  margin:0 (-2 * $gutter-width) ($base-line-height * 1 - 4);
  
  a {
    color:white;
    &:visited{
      color:white;
    }
    
    &:hover {
      text-decoration:underline;
    }
  }
}

#screen {
  @include clearfix;
  margin: 1em 0;
  text-align:center;
  .caption {
    font-style: italic;
  }
  p {
    margin-bottom:0;
  }
}

#hero {
  @include clearfix;
  #icon {
    @include span-columns(3, 9);
  }

  #hero-text {
    @include padding-leader(1);
    @include span-columns(6, 9);
  }

  #action-buttons {
    @include leader(1);
    @include span-columns(3 omega, 9);
    .buy {
      @include adjust-font-size-to(36px, 1);
      background: #71a670;
      padding: 16px;
      text-align:center;
      display: block;
      @include border-radius(10px);
      @include single-box-shadow(#000, 0, 2px, 0, 0px, false);
      color:white;
      // @include background-image(linear-gradient(top, #afcdaf, #71a670));
      border: 2px solid black;

      &:hover {
        position:relative;
        top:-1px;
        @include single-box-shadow(#000, 0, 3px, 0, 0px, false);
      }

      &:visited {
        color:white;
      }
    }
  }

  h1 {
    @include header-family;
    @include adjust-font-size-to(96px, 2);
    @include trailer(1, 96px);
  }

  p {
    @include adjust-font-size-to(30px, 1);
  }
}


#content.page {
  h1 {
    letter-spacing:0;
    text-transform:none;
  }
  
  h2 {
    @include adjust-font-size-to(36px, 1);
    @include trailer(1, 36px);
    @include leader(1, 36px);
    @include header-family;
    text-transform:none;
    margin-right:2px;
    margin-left: -27px;
    padding-left: 9px;
    border-left: 18px solid $highlight;
    clear:both;
  }
  
  h3 {
    font-weight:normal;
    font-style:italic;
    letter-spacing:0.05em;
    margin-bottom:($base-line-height - 1px);
    border-bottom:1px dotted lighten($border, 20%);
  }
  
  ul {
    margin-left:0;
    li {
      margin:0 0 0 $gutter-width;
      padding:0;
    }
  }
  
  ol {
    h3 {
      font-weight:normal;
      margin-bottom:0;
    }
    .read_more a, h3 a {
      text-shadow:none;
    }
  }
  
  .spaced li {
    @include trailer;
  }

  #dsq-content .dsq-comment {
    margin-bottom:1em;
  }
}

.attachment-path {
  &.source {
    font-style:italic;
  }
}

/* For things that are larger than the document allows */
.breakout {
  @include span-columns(15, 8);
  @include box-shadow(#333, 0, 0, 4px, 1px);
  padding:$base-line-height $gutter-width 0;
  margin-bottom:$base-line-height;
  background:#fff;
  margin-left:-50%;
}

pre.emphasize {
  background:#fff;
  padding:($base-line-height / 2) ($gutter-width / 2);
  border:1px solid #ccc;
}

p, ol, ul {
  code {
    background:#eee;
    line-height:1px;
  }
}

.read_more {
  margin-top:-1.5em;
}

.code.pygments {
  line-height:normal;
  font-size: 75%;
  border: 2px solid silver;
  @include span-columns(8, 8);

  margin-bottom:$base-line-height;
  &.grow {
    @include span-columns(12, 8);
    margin-left:-2 * $column-width;
  }
 
  overflow-x:scroll;

  table {
    td.linenos {
      width:5%;
      padding-right:0;
    }
    td.code {
      width:95%;
      overflow-x:auto;
    }
    margin:0;
    padding-bottom:0;
    border:none;
    .highlight pre {
      overflow:hidden;
      white-space:pre;
      word-wrap:normal;
    }
  }
  
  pre {
    margin-bottom:0;
  }

}

a.feed img {
  height:20px;
}


.done {
  text-decoration:line-through;
}