@import "main";

h2 {
  @include adjust-font-size-to(30px, 1);
  @include trailer(1, 30px);
}

h2 {
  @extend .allcaps;
}

#articles {
  @include span-columns(6, 12);
}

section {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;

   header {
      @include sans-family;
      @include clearfix;
      a {
        display: block;
      }
    }
    .categories {
      float: left;
      span {
        margin-left: 5px;
        background: #eee;
        padding: 0 10px;
        @include border-radius(1em);
        @include adjust-font-size-to(12px);
      }
    }
    
    .date {
      float: left;
      @include adjust-font-size-to(12px);
      @include sans-family;
      
    }
  }

  // projects
  .shot {
    @include padding-trailer;
    @include padding-leader;
    @include trailer;
    @include leader;

    text-align:center;

    @include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 0px, 0px, 1px);


    &:hover {
      @include single-box-shadow(rgba(0, 0, 0, 0.3), 0, 1px, 2px, 1px);
    }
  }
}

#projects {
  @include span-columns(6 omega, 12);
}

#main {
  @include leader;
}