@import "screen";

$total-columns: 10;

#document {
  @include container;
}

#main {
  @include span-columns(10 omega);

  p {
    width: 36em;
  }

  > #content > ul > li, #content > ol > li {
    width: 36em;
  }
}