// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/";
@import "breakpoint";
@import "susy"; // grid

$susy: (
  columns: 12,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);
@include border-box-sizing;

$base-font-size: 20px;
$base-line-height: 30px;
@include establish-baseline;

// Fonts --------------------------------------------------------------
@font-face {
  font-family: 'Leonardo Hand F';
  src: url(/assets/fonts/leonardo/leonardo.ttf);
  src: url(/assets/fonts/leonardo/leonardo.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

$sans-family: Helvetica Neue, Helvetica, Arial, sans-serif;

$serif-family: Gentium Book Basic, Palatino Linotype, Book Antiqua, Palatino, serif;
$title: Ruthie, $serif-family;
$stitle: $serif-family;
$h-family: $serif-family;

@mixin sans-family {
  
}

@mixin serif-family {
  font-family: Gentium Book Basic, Palatino Linotype, Book Antiqua, Palatino, serif;
}

@mixin monospace-family {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

// Colors
$magenta: #e14d6d;
$teal: #489bd2;

$bg-green: #ecf5ec;

$blue: #6684af;
$green: #669d97;
$plum: #b36994;

$red: #ff5553;
$purple: #8873e5;
$dark-purple: #6348dd;

$light-green: #eefcf3;

$main-color: $green;
$main-color-accent: $red;
$main-color-light: $light-green;
$alt-color: $blue;
$tri-color: $plum;
$happy-color: $green;


$h1: 35px;
$h2: 28px;
$h3: 23px;


@import "base";
@import "layout";
@import "theme";
@import "home";