// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/";
@import "breakpoint";
@import "susy"; // grid

$susy: (
  columns: 12,
  column-width: 5em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);
@include border-box-sizing;

$base-font-size: 16px;
$base-line-height: 30px;
@include establish-baseline;

// Fonts --------------------------------------------------------------
@mixin sans-family {
  font-family: Open Sans Condensed, Tenor Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: Libre Baskerville, Gentium Book Basic, Palatino Linotype, Book Antiqua, Palatino, serif;
}

@mixin monospace-family {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

@mixin title-family {
  @include serif-family;
  font-weight: 700;
}

// Colors
$magenta: #e14d6d;
$teal: #489bd2;

$red: #ff5553;
$purple: #8873e5;
$dark-purple: #6348dd;

$green: #57e08d;
$light-green: #eefcf3;

$main-color: $green;
$main-color-accent: $red;
$main-color-light: $light-green;
$alt-color: $magenta;
$tri-color: $teal;
$happy-color: $green;


$h1: 42px;
$h2: 32px;
$h3: 21px;


@import "base";
@import "layout";
@import "theme";