//** SCREEN STYLES **//
@import "compass/reset";
@import "imports";

/* begin old file */
/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
@include establish-baseline;

html {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased; }

.serif {
  @include serif-family; }

.sans {
  @include sans-family; }

.mono {
  @include monospace-family; }

.caps {
  letter-spacing: 0.1em; }

.allcaps {
  @extend .caps;
  text-transform: uppercase; }

.smallcaps {
  @extend .caps;
  font-variant: small-caps; }
/* Body -------------------------------------------------------------- */
  
body {
  @extend .serif;
  color: $base; }

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */

@mixin accessible-color($background: white) {
  @if lightness($background) >= 65% {
    color: $base; }
  @else {
    color: white; } }

::-moz-selection {
  @include accessible-color($alt);
  background: $alt;
  text-shadow: none; }

::selection {
  @include accessible-color($alt);
  background: $alt;
  text-shadow: none; }

/* Links -------------------------------------------------------------- */

a {
  &:link, &:visited {
    color: $alt; }
  &:link, &:visited, &:hover, &:active {
    outline: none; }
  &:focus, &:hover, &:active {
    color: complement($alt);
    text-decoration: none; }
  &:focus {
    outline: thin dotted; } }

/* Headings -------------------------------------------------------------- */

h2, h3, h4, h,5 h6 {
  @include trailer; }

h1 {
  @include adjust-font-size-to(30px, 1);
  @include trailer(1, 30px);
}

h1 {
  @extend .allcaps; }

h3 {
  font-weight: bold; }

h4 {
  @extend .smallcaps;
  text-transform: lowercase; }

h5, h6 {
  font-style: italic; }

/* Inline -------------------------------------------------------------- */

cite, em, dfn, address, i {
  font-style: italic; }

strong, dfn, b {
  font-weight: bold; }

sup, sub {
  font-size: smaller;
  line-height: 0; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

mark {
  background: #ffff99;
  background-color: rgba(yellow, 0.5);
  text-shadow: none; }

small {
  @include adjust-font-size-to(12px); }

q {
  font-style: italic;
  em {
    font-style: normal; } }

pre, code, tt {
  @extend .mono; }

/* Block -------------------------------------------------------------- */

p {
  @include trailer; }

pre {
  margin-bottom: $base-rhythm-unit;
  white-space:pre-wrap;
  word-wrap: break-word; }

blockquote {
  margin: $base-rhythm-unit 0;
  padding: $base-rhythm-unit 1em;
  background: white;
  border-left: 1em solid #ccc;

  p:last-child {
    margin-bottom:0
  }
}

/* Replaced -------------------------------------------------------------- */

img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

/* Lists -------------------------------------------------------------- */

ol, ul, dl {
  @include trailer;
  margin-left: $base-rhythm-unit; }

ol {
  list-style: decimal; }

ul {
  list-style: disc;
  li & {
    list-style-type: circle; } }

dt {
  @include leader;
  font-style: italic; }

dd {
  padding-left: $base-rhythm-unit; }

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */

table {
  @include trailer;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; }

table, td, th {
  vertical-align: top; }

th, thead th {
  font-weight: bold; }

th, td, caption {
  padding: $base-rhythm-unit * 0.5;
  text-align: left;
  font-weight: normal; }

table, th {
  @include trailing-border(1px, 0.5); }

tfoot {
  @include adjust-font-size-to(14px); }

caption {
  @extend .allcaps; }

/* Forms -------------------------------------------------------------- */

fieldset {
  @include trailer;
  @include rhythm-borders(1px); }

legend {
  @include adjust-font-size-to(18px);
  font-weight: bold; }

input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

label {
  font-weight: bold; }

// box-sizing helps us control the width of inputs
// which are otherwise very hard to manage in the grid.
.textinput {
  @include sans-family;
  @include adjust-font-size-to(14px, 1, 16px);
  @include rhythm-borders(1px, 0.25, 14px);
  @include trailer(0.5);
  @include box-sizing(border-box);
  width: 100%;
  margin-top: 0;
  border-color: $base;
  height: $base-line-height / 14px * 1.5em; }

textarea {
  @extend .textinput;
  height: $base-line-height / 14px * 6.5em;
  vertical-align: text-bottom; }

input {
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
  &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
  &[type=number], &[type=range], &[type=search], &[type=color] {
    @extend .textinput; }
  // reset webkit search styles
  &[type=search] {
    -webkit-appearance: none;
    &::-webkit-search-decoration {
      display: none; } } }

button {
  width: auto;
  overflow: visible; }

/* end old file */


// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
body {
  background:url("../assets/images/ui/light_honeycomb.png");
}


#document {
  @include container;
  background: $background;
  @include border-radius(0 0 20px);
  margin-bottom:(2 * $base-line-height);
  
  &.showgrid {
    @include show-grid("images/grid.png");
  }
}

#main {
  @include alpha;
  @include omega;
  @include columns(8);
  padding-top: $base-line-height;
}

#header {
  @include clearfix;
  background:$highlight;
  padding:(0.5 * $base-line-height) $gutter-width;
  color:white;
  margin:0 (-2 * $gutter-width) ($base-line-height * 2 - 4);
  
  a {
    color:white;
    &:visited{
      color:white;
    }
    
    &:hover {
      text-decoration:underline;
    }
  }
}

.title {
  @include adjust-font-size-to(20px);
  letter-spacing:0.15em;
  float:left;
}

.utilities {
  font-size:100%;
  float:right;
}

hr {
  text-align:center;
  border:0;
  border-top:1px solid #555;
  width:(12 * $gutter-width);
  @include trailer(1);
}

h1 {
  letter-spacing:0.15em;
  @include leader(1, 21px);
}

strong {
  @include adjust-font-size-to(14px);
  letter-spacing:.05em;
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

/* Styles -------------------------------------------------------------- */
a {
  text-decoration:none;
  
  &:visited {
    color:complement($alt);
  }
  
  &:hover {
    color:darken($highlight, 13%);
  }
}

ol.pages {
  list-style:none;
  margin-left: 0;
  
  li {
    padding-top:$base-line-height - 1px;
    @include trailer;
    border-top:1px dotted $dark;
    
    h2 {
      margin-bottom:0;
    }
    
    &:last-child {
      border-bottom:none;
      margin-bottom:0;
    }
  }
}

@mixin bottom-separated {
  border-top:3px double $border;
  padding-top:($base-line-height - 3px);
  @include clearfix;
  margin-top:($base-line-height);
}

.categories {
  @include bottom-separated;
}

#footer {
  @include bottom-separated;
  ul{
    list-style:none;
    margin-left:0;
  }
  h2 {
    margin-bottom:0;
  }
  .index {
    float:left;
    margin-right:(2 * $gutter-width);
  }
}

.date {
  font-style:italic;
  float:right;
}

#content.page {
  h1 {
    letter-spacing:0;
    text-transform:none;
  }
  
  h2 {
    border-bottom:1px dashed $border;
    margin-bottom:($base-line-height - 1px);
    font-variant:small-caps;
    text-transform:none;
    margin-right:2px;
    @include adjust-font-size-to(24px);
  }
  
  h3 {
    font-weight:normal;
    font-style:italic;
    letter-spacing:0.05em;
    margin-bottom:($base-line-height - 1px);
    border-bottom:1px dotted lighten($border, 20%);
  }
  
  ul {
    margin-left:0;
    li {
      margin:0 0 0 $gutter-width;
      padding:0;
    }
  }
  
  ol {
    h3 {
      font-weight:normal;
      margin-bottom:0;
    }
    .read_more a, h3 a {
      text-shadow:none;
    }
  }
  
  .spaced li {
    @include trailer;
  }

  #dsq-content .dsq-comment {
    margin-bottom:1em;
  }
}

.attachment-path {
  &.source {
    font-style:italic;
  }
}

/* For things that are larger than the document allows */
.breakout {
  @include columns(15, 8);
  @include box-shadow(#333, 0, 0, 4px, 1px);
  padding:$base-line-height $gutter-width 0;
  margin-bottom:$base-line-height;
  background:#fff;
  margin-left:-50%;
}

pre.emphasize {
  background:#fff;
  padding:($base-line-height / 2) ($gutter-width / 2);
  border:1px solid #ccc;
}

p, ol, ul {
  code {
    background:#fff;
    line-height:1px;
  }
}

.read_more {
  margin-top:-1.5em;
}

.code.pygments {
  line-height:normal;
  border: 2px solid silver;
  @include columns(8, 8);

  margin-bottom:$base-line-height;
  &.grow {
    @include columns(12, 8);
    margin-left:-2 * $col-width;
  }
 
  overflow-x:scroll;

  table {
    td.linenos {
      width:5%;
    }
    td.code {
      width:95%;
      overflow-x:auto;
    }
    margin:0;
    padding-bottom:0;
    border:none;
    .highlight pre {
      overflow:hidden;
      white-space:pre;
      word-wrap:normal;
    }
  }
  
  pre {
    margin-bottom:0;
  }

}

a.feed img {
  height:20px;
}
