//** SCREEN STYLES **//
@import "main";

#main {
  @include span-columns(8, 12);
}

#nav {
  @include span-columns(3 omega, 12);
  @include transition-property("all");
  @include transition-duration(".1s");
  opacity: 0.3;

  &:hover {
    opacity:1;
  }

  h2 {
    @include leader;
    @include trailer;
    @include border-box-sizing;
    height: $base-line-height;
    border-bottom:1px solid #eee;
  }

  ol {
    list-style:none;
    margin: 0;
    padding: 0;
    li {
      @include trailer;
    }
  }

  .projects {
    header a {
      display: block;
    }
  }

  
}

.utilities {
  font-size:100%;
  float:right;
}

hr {
  text-align:center;
  border:0;
  border-top:1px solid #555;
  width:(12 * $gutter-width);
  @include trailer(1);
}

strong {
  letter-spacing:.05em;
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

/* Styles -------------------------------------------------------------- */
@mixin bottom-separated {
  border-top:3px double $border;
  padding-top:($base-line-height - 3px);
  @include clearfix;
  margin-top:($base-line-height);
}

.categories {
  @include bottom-separated;
}

#footer {
  @include bottom-separated;
  ul{
    list-style:none;
    margin-left:0;
  }
  h2 {
    margin-bottom:0;
  }
  .index {
    float:left;
    margin-right:(2 * $gutter-width);
  }
  
}

.date {
  font-style:italic;
}

#content.page {
  h1 {
    @include leader(1, 30px);
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }

  .date {
    @include trailer;
  }
  
  h2 {
    @include adjust-font-size-to(25px, 1);
    @include trailer(1, 25px);
    text-transform:none;
    margin-right:2px;
    margin-left: -27px;
    padding-left: 9px;
    border-left: 18px solid $highlight;
    clear:both;
  }
  
  h3 {
    font-weight:normal;
    font-style:italic;
    letter-spacing:0.05em;
    margin-left: -18px;
    padding-left: 9px;
    border-left: 9px solid #f8f7ef;
    @include clearfix;
    @include adjust-font-size-to(22px, 1);
    @include trailer(1, 22px);
  }
  
  ul {
    margin-left:0;
    li {
      margin:0 0 0 $gutter-width;
      padding:0;
    }
  }
  
  ol {
    h3 {
      font-weight:normal;
      margin-bottom:0;
    }
    .read_more a, h3 a {
      text-shadow:none;
    }
  }

  li {
    clear: both;
  }
  
  .spaced li {
    @include trailer;
  }

  #dsq-content .dsq-comment {
    margin-bottom:1em;
  }
}

.attachment-path {
  &.source {
    font-style:italic;
  }
}

/* For things that are larger than the document allows */
.breakout {
  @include span-columns(15, 8);
  @include box-shadow(#333, 0, 0, 4px, 1px);
  padding:$base-line-height $gutter-width 0;
  margin-bottom:$base-line-height;
  background:#fff;
  margin-left:-50%;
}

pre.emphasize {
  background:#f3f8fc;
  padding:($base-line-height / 2) ($gutter-width / 2);
}

p, ol, ul {
  code {
    background:#f3f8fc;
  }
}

.read_more {
  margin-top:-1.5em;
}

.code.pygments {
  line-height:normal;
  padding: 0 $gutter-width;

  @include adjust-font-size-to(14px);
  @include padding-leader(.5);
  @include padding-trailer(.5);
  @include span-columns(8, 8);

  margin-bottom:$base-line-height;
  &.grow {
    @include span-columns(12, 8);
    margin-left:-2 * $column-width;
  }
 
  overflow-x:auto;

  table {
    td.linenos {
      width:5%;
      padding-right:0;
    }
    td.code {
      width:95%;
      overflow-x:auto;
    }
    margin:0;
    padding-bottom:0;
    border:none;
    .highlight pre {
      overflow: hidden;
      white-space: pre;
      word-wrap: normal;
    }
  }
  
  pre {
    margin-bottom: 0;
    white-space: pre;
    word-wrap: normal;
  }

}

a.feed img {
  height:20px;
}
