!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
      - if @item[:description]
        %meta{ "name" => "description", "content" => @item[:description] }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @item[:title]
    %link{ :href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    - @item[:additional_stylesheets] && @item[:additional_stylesheets].each do |stylesheet|
      %link{ :href => "/stylesheets/#{stylesheet}.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://feeds.feedburner.com/FlyingMachineStudios", :rel => "alternate", :type => "application/rss+xml" }

  %body{ :class => @body_class }
    #document
      #main
        #header
          .title
            %a{:href => "/"} Flying Machine Studios
          .utilities
            %a{:href => "/about"} about
            &bull;
            %a{:href => "http://twitter.com/nonrecursive"} @nonrecursive
            &bull;
            %a.feed{:href => "http://feeds.feedburner.com/FlyingMachineStudios"}
              %img{:src => "/assets/images/ui/icon_rss.png", :title => "feed"}
        #content.page
          - if article?(@item)
            .date= format_date(@item[:created_at])
          = find_and_preserve yield
          
          - if article?(@item)
            %h2 Comments
            #disqus_thread
            :javascript
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'flyingmachinestudios'; // required: replace example with your forum shortname
              
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();

    %script{ :src => "http://ajax.microsoft.com/ajax/jquery/jquery-1.4.4.min.js" }
    %script{ :src => "/javascripts/jquery.hotkeys.js" }
    %script{ :src => "/javascripts/application.js" }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-666015-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
